
TorchApp/.idea/dictionaries/mghan.xml
ClintApp/ClintApp/.idea/workspace.xml
ServerAPP/.idea/workspace.xml
ClintApp/ClintApp/.idea/workspace.xml
ServerAPP/.idea/workspace.xml
ClintApp/ClintApp/.idea/workspace.xml
